* {
    margin: 0;
    padding: 0;
}
body {
    width: 1200px;
    height: auto;
    max-width: 1200px;
    margin:  0 auto;
}
a {
    text-decoration: none;
}
ul li {
    list-style: none;
}
/*header begin*/
header {
    position: relative;
    margin: 30px 0 10px 0;
    overflow: hidden;
}
.header-wrapper {
    padding: 0 50px;
}
header a.logo {
    float: left;
    background: url("../imgs/u-icon.png") no-repeat 0 -136px ;
    height: 50px;
    width: 300px;
    display:inline-block;
}
header h5 {
    float: right;
    line-height: 50px;
}
header h5 a {
    background: #00bdd5;
    padding: 6px 10px;
    color: #fff;
}


.container {
    position: relative;
    padding-top: 20px;
}
.container .container-wrapper {
    padding: 50px;
    overflow: hidden;
}
.information {
    position: relative;
}
.info-title {

}
.info-title span {
    border-left: 1px solid #00bdd5;
   padding-left: 8px;
    font-size: 15px;
}
.information form {

}
.information .form-item {
    padding: 16px 0;
    height: 38px;
    line-height: 38px;
}
.form-item label {
    text-align: right;
    width: 140px;
    display: inline-block;
    margin-right: 20px;
}
.information input:not(.reading) {
    height: 36px;
    width: 250px;
}
.information .seven span {
    font-size: 15px;

}
.information .seven {
margin-left: 160px;
}
.information .eight button {
    margin-left: 160px;
    border: none;
    background: #00bdd5;
    padding: 1px 70px;
    border-radius: 4px;
    color: #fff;
}
.information .five {
    margin-left: 160px;
}
.information .five button {
    border: none;
    padding: 0 4px;
    color: #6C6C6C;
}
.information .seven span a {
    color: #00bdd5;
}
.information .four a {
    display: inline-block;
    vertical-align: middle;
}
.topic-item {
    overflow: hidden;
    position: relative;
    border-top: 1px solid #eeeff2;
    border-bottom: 1px solid #eeeff2;
}
.topic-item .left {
    float: left;
}
.topic-item .right {
    float: right;
}
.topic-item  ul {
    overflow: hidden;
}
.topic-item  ul li{
    float: left;
    padding: 16px 0;
}
.topic-item .left ul li a {
    padding: 0 16px;
    color: #999;
    font-size: 14px;
    border-right: 1px solid #eeeff2;
}
.topic-item .left ul li:first-child a {
    padding-left: 0;
}
.topic-item .right ul li a {
    padding: 0 16px;
    color: #999;
    font-size: 14px;
}
.right li a span {
    background:#00bdd5;
    color: #fff;
    padding: 5px;
    margin-right: 6px;
    border-radius: 2px;
}




/*footer 开始*/
footer {
    position: relative;
    margin: 0 auto;
}
footer .footer-item {
    margin: 0 auto;
    text-align: center;

}
.footer-item ul {
    overflow: hidden;
    margin: 0 auto;
    display: inline-block;
}
.footer-item ul li {
    float: left;
    padding:40px 6px ;
}
.footer-item ul li a {
    display:block;
    width: 125px;
    height: 44px;
}
.footer-item ul li:first-child a{
    background: url("../imgs/footer_03.png") no-repeat center;
}
.footer-item ul li:nth-of-type(2) a{
    background: url("../imgs/footer_09.png") no-repeat center;
}
.footer-item ul li:nth-of-type(3) a{
    background: url("../imgs/footer_07.png") no-repeat center;
}
.footer-item ul li:nth-of-type(4) a{
    background: url("../imgs/footer_05.png") no-repeat center;
}
.footer-detail {
    text-align: center;
}
.footer-detail p {
    font-size: 14px;
    line-height: 1.4;
    color: #a1a1a1;
    padding: 2px 0;
}
