header {
    position: fixed;
    top: 0;
    background: #000;
    width: 100%;
    max-width: 72rem;
    z-index: 999;
}
header .wrapper {
    padding: 1rem 1.6rem;
    overflow: hidden;
}
header .header-l {
    float: left;
}
header .header-r {
    float: right;
}
header .wrapper i {
    color: #fff;
}
header .wrapper .header-c {
    width: 100%;
    text-align: center;
    line-height: 2.8rem;
}
header .wrapper .header-c span {
    color: #fff;
    font-size: 1.6rem;
}


.container {
    position: relative;
    width: 100%;
}
.con-wrapper {
    position: relative;
    margin: 8rem 1.6rem 0 1.6rem ;
}
.secret-item {
    position: relative;
    width: 100%;
}
.secret-comment {
    overflow: hidden;
    position: relative;
}
.one .secret-comment .user-logo {
    float: left;
    position: relative;
}
.one .secret-comment .user-logo a {
    display: inline-block;
    width: 4rem;
    height: 4rem;
}
.secret-comment .user-logo a img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.one .secret-comment .secret-wrapper {
    position: relative;
}
.one .secret-comment .user-secret {
    position: relative;
    margin-left: 6rem;
    padding: 1.5rem;
    background: #f0f0f0;
    border-radius: 1rem;
}
.one .secret-wrapper .angel {
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
   background: #f0f0f0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 100;
    left: 5rem;
    top:2rem;
}
.one .secret-comment .user-secret p {
    line-height: 2.4rem;
    color: #a1a1a1;
}
.one .one-time {
    text-align: center;
    padding: 1.4rem 0;
}
.one .one-time span {
    font-size: 1.2rem;
    color: #a1a1a1;
}

/*第二回复*/
.two .secret-comment .user-logo {
    float: right;
    position: relative;
}
.two .secret-comment .user-logo a {
    display: inline-block;
    width: 4rem;
    height: 4rem;
}
.two .secret-comment .user-logo a img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.two .secret-comment .secret-wrapper {
    position: relative;
}
.two .secret-comment .user-secret {
    position: relative;
    margin-right: 6rem;
    padding: 1.5rem;
    background: #f0f0f0;
    border-radius: 1rem;
}
.two .secret-wrapper .angel {
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    background: #f0f0f0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 100;
    right: 5rem;
    top:2rem;
}
.two .secret-comment .user-secret p {
    line-height: 2.4rem;
    color: #a1a1a1;
}
.two .one-time {
    text-align: center;
    padding: 1.4rem 0;
}
.two .one-time span {
    font-size: 1.2rem;
    color: #a1a1a1;
}

/*第三回复*/
.one .secret-wrapper .user-secret p a {
    display: block;

}
.one .secret-wrapper .user-secret p a img{
   width: 100%;
    height: auto;
    border-radius: 1rem;
}