/*begin*/

body {
    font-family: "microsoft yahei", "微软雅黑";
}
/*header*/
header {
    margin: 0 auto;
}
.header-wrapper {
    max-width: 1200px;
    margin: 10px auto;
    overflow: hidden;
}
.contact {
    line-height: 50px;
    vertical-align: middle;
}
.contact p {
    float: left;
    font-weight: 700;

}
.contact span {
    margin-left: 20px;
    font-weight: 700;
}
.contact span i {
    margin-right: 10px;
}
.header-nav {
    background: #CB1F25;
}
.nav-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
}
.nav-wrapper ul {

}
.nav-wrapper ul li {
    float: left;
    width: calc(100% / 10);
    text-align: center;
}
.nav-wrapper ul li:hover {
    background:#ae0707;
}
.nav-wrapper ul li a {
    color: #fff;
}
/*导航*/

/*主体内容 beign*/
.container {
margin: 0 auto;
    width: 100%;
}
.swiper {
    height: 450px;
    background: url("../imgs/banner.jpg") no-repeat center;
}
.services-item {
    max-width: 1200px;
    margin: 0 auto;
}
.service-item-title {
    padding-bottom: 6px;
border-bottom: 1px solid #c0c0c0;
}
.service-item-title h3 {
    color: #bf0707;
    font-weight: 700;
}
.service-item-title h3 span {
    margin-left: 10px;
    font-size: 13px;
}
.services-item-list {
    padding: 10px 8px;
   margin-top: 2px;
    border-top: 1px solid #c0c0c0;
}
.services-item-list ul {
    overflow: hidden;
    margin-bottom: 20px;
}
.services-item-list ul li {
    margin-right: 20.5px;
    width:calc((100% / 5) - 20.8px);
    height: 216px;
    border-radius: 180px;
    overflow: hidden;
    position: relative;
    float: left;
    display: block;
}
.services-item-list ul li a {
    border-radius: 50%;
    display: inline-block;
}
.services-item-list ul li a img {

}
.services-item-list ul li span {
    position: absolute;
    bottom:0;
    height: 40px;
    width: 216px;
    line-height: 40px;
    background-color: #CB1F25;
    color: #fff;
    text-align: center;
    font-size: 16px;
}
/*经典案例*/
.classic-case {
    max-width: 1200px;
    margin: 0 auto;
}
.classic-case-title {
    padding-bottom: 6px;
    border-bottom: 1px solid #c0c0c0;
}
.classic-case-title h3 {
    color: #bf0707;
    font-weight: 700;
}
.classic-case-title h3 span {
    margin-left: 10px;
    font-size: 13px;
}
.classic-case-list {
    padding: 10px 8px 10px 0;
    margin-top: 2px;
    border-top: 1px solid #c0c0c0;
    overflow: hidden;
}
.classic-case-list ul {

}
.classic-case-list ul li {
    margin: 10px 13px 10px 0;
    float: left;
    width: -moz-calc(100% / 4);
    position: relative;
}
.classic-case-list ul li:hover .classic-case-info {
    display: block;
}
.classic-case-list ul li a {

}
.classic-case-list ul li a span {
   position: absolute;
    bottom: 0;
    line-height: 30px;
    text-align: center;
    color: #fff;
    width:100%;
    display: none;
    background: #ae0707;
}
.classic-case-list ul li a img {

}
/*关于我们*/
.about-contact-us {
    max-width: 1200px;
    margin: 0 auto;
}
.about-us-left {
    width:70%;
}
.about-us-title {
    padding-bottom: 6px;
    border-bottom: 1px solid #c0c0c0;
}
.about-us-title h3 {
    color: #bf0707;
    font-weight: 700;
}
.about-us-title h3 span {
    margin-left: 10px;
    font-size: 13px;
}
.about-us-info {
    padding: 0 8px 10px 0;
    margin-top: 2px;
    border-top: 1px solid #c0c0c0;
    overflow: hidden;
}
.about-us-info-content {
    margin-left: 30px;
    width:550px;
    margin-top: 25px;
    overflow: hidden;
}
.about-us-info-content p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
}
.about-us-info-img {
    width: 250px;
    height: 250px;
     overflow: hidden;
}
.about-us-info-img img {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 25px;
}
.contact-us-right {
    width: 340px;
    height: 280px;
    background-color: #CB1F25;
}
.contact-us-right .contact-us-title {

}
.contact-us-title h3 {
    line-height: 26px;
    color: #fff;
    height: 26px;
    font-weight: 700;
}
.contact-us-title {
    width:100%;
    display: block;
    padding-bottom: 6px;
    border-bottom: 1px solid #c0c0c0;
}
.contact-us-title h3 span {
    margin-left: 10px;
    font-size: 13px;
}
.text {
    margin-top: 2px;
    border-top: 1px solid #c0c0c0;
    padding-left: 16px;
    line-height: 26px;
    color: #fff;
}

/*尾部*/
footer {
    height: 70px;
    background-color: #212121;
    padding-top: 20px;
    margin-top: 30px;
}
footer p {
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
}
footer p a {
    color: #fff;
}