@charset "utf-8";
/* CSS Document 2016-05-05*/
a,address,b,big,blockquote,body,center,cite,code,dd,del,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,label,legend,li,ol,p,pre,small,span,strong,u,ul,var{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
button,html input[type=button],input[type=submit]{-webkit-apperance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default}
input { outline:none}
ol,ul{list-style:none}
img{border:0;vertical-align:middle}
em,i,u{font-style:normal}
input,textarea { font-family:"microsoft yahei","微软雅黑"}
.fl{float:left}
.fr{float:right}
.al{text-align:left}
.ac{text-align:center}
.ar{text-align:right}
.hide{display:none}
.clear,.clr{display:block;overflow:hidden;clear:both;height:0;line-height:0;font-size:0}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*zoom:1}
.dorpdown{position:relative}
.dorpdown-layer{display:none;position:absolute}
.dorpdown:hover .dorpdown-layer,.hover .dorpdown-layer{display:block}.cw-icon{position:relative;cursor:default;zoom:1}
.cw-icon .i,.cw-icon i{display:block;position:absolute;overflow:hidden}
.w{width:990px;margin:0 auto}
.root61 .w{width:1210px}

.box {display:-moz-box;display:-webkit-box;display:box;}
.box-flex {-moz-box-flex:1.0; -webkit-box-flex:1.0;box-flex:1.0;}
.m,.mb,.mc,.mt,.p-detail,.p-img,.p-market,.p-name,.p-price,.sm,.smb,.smc,.smt{overflow:hidden}
/* jdf-1.0.0/ shortcut.css Date:2015-09-15 18:39:09 */
a {color:#333; text-decoration:none;-moz-transition:color 0.2s; -o-transition:color 0.2s; -webkit-transition:color 0.2s; transition:color 0.2s;}
a:hover { color:#ff0000;}
a.a1 {color:#fff; text-decoration:none}
a.a1:hover { color:#ff0000;}
a.a2 {color:#333; text-decoration:none}
a.a2:hover {color:#ff6c00;}
a.a3 {color:#666; text-decoration:none}
a.a3:hover {color:#0052AC}
a.img-btn:hover img {filter:alpha(Opacity=80);-moz-opacity:0.8;opacity: 0.8}
.wrapper {width:1200px; margin:0 auto}
.section { position:relative;}
.container { height:100%;}
.filter {-webkit-filter:blur(3px);
    -moz-filter:blur(3px);
    -o-filter:blur(3px);
    -ms-filter:blur(3px);
    filter:blur(3px)}



body{font:12px/150% "microsoft yahei ui","microsoft yahei",Arial,Verdana,"\5b8b\4f53"; color: #666;}
input,textarea { font-family:"microsoft yahei ui"}
a {text-decoration:none;-moz-transition:color 0.2s; -o-transition:color 0.2s; -webkit-transition:color 0.2s; transition:color 0.2s; color:#333333;}
a:hover{text-decoration:none;}
.wrapper {width:1200px; margin:0 auto;position:relative;}
.mt40 { margin-top:40px}
.mt60 { margin-top:60px}
body{ background-color:#fff; width:100%; position:relative;}
.t{border: solid 1px red;box-sizing: border-box;}
.clearfix:after{content: '';height:0;clear: both;display: block;}





.header{height:150px;}


.nav{height: 50px;background-color: #CB1F25;line-height: 50px;}
.nav ul li{width: 120px;text-align: center;float: left;}
.nav ul li:hover{background-color:#b00a10;height: 50px;}
.nav ul li a{color: #fff;font-size: 16px;display: block;}

.banner_box{width: 100%;position: relative;overflow: hidden;height: 450px;}
.banner{width: 1920px;position: absolute;left: 50%;margin-left: -960px;}

.content .part_1{width:100%;overflow: hidden;}
.content .k{width: 1230px;}
.content .part_1 .title{padding:10px;background: url(../images/bottom_bg.png) repeat-x bottom;color: #CB1F25;margin: 30px 0;}
.content .part_1 .title h1{font-size: 18px;}
.content .part_1 .title span{font-size: 14px;margin-left: 15px;}
.content .part_1 .item{width: 216px;height: 216px;border-radius: 180px;overflow: hidden;position: relative;float: left;margin-right: 30px;}

.content .part_1 .item p{position: absolute;bottom: 0;height: 40px;width: 216px; line-height: 40px;background-color: #CB1F25;color: #fff;text-align: center;font-size: 16px;}


.content .part_2 .list{width: 285px;height: 200px; overflow: hidden;position: relative;float: left;margin: 0 20px 20px 0}
.content .part_2 .list a{width: 285px;height: 200px;}
.content .part_2 .list img{width: 100%;height: auto;}
.content .part_2 .list p{position: absolute;bottom: -40px;height: 40px;width: 285px; line-height: 40px;background-color: #CB1F25;color: #fff;text-align: center;font-size: 16px;transition: all .3s ease}

.content .part_2 .list:hover p{bottom: 0;}

.content .part_3{width: 840px;height: 300px;}
.content .part_3 .photo{width: 250px;height: 250px;overflow: hidden;margin-top: 25px;}
.content .part_3 .photo img{width: 100%;height: auto}

.content .part_3 .word{width: 570px;margin: 25px 0 0 20px;}
.content .part_3 .word p{font-size: 14px;line-height: 24px;margin-bottom: 8px;}

.content .part_4{width: 340px;height: 300px;background-color: #CB1F25;}
.content .part_3 .title,.content .part_4 .title{margin: 10px 0 0;}
.content .part_4 .title h1{color: #fff;}
.content .part_4 .text{color: #fff;font-size: 14px;line-height: 24px;padding: 20px;}
/*zyx begin 2017-10-30*/
.content .part_5 .l {  text-align: center;  margin-top: 40px;  }
.content .part_5 ul {  display: inline-block;  }
.content .part_5 ul li {  float: left;  padding:  6px 10px;  margin: 10px 14px;  border: 1px solid red;  }
.content .part_5 ul li:hover {  border: 1px solid #b00a10  }
.content .part_5 ul li a {  font-size: 18px;  }
.content .part_5 ul li a:hover {  font-size: 18px;color:#b00a10   }
/*zyx end*/
.footer{height: 70px;background-color: #212121;padding-top: 20px;margin-top: 30px;}
.footer p{text-align: center; color: #fff;line-height: 26px;}
.footer a{color: #fff;}
