section {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    z-index: 1000;
}
section span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 60px;
    left: 0;
    background: 50% no-repeat;
    background-size: contain;
    background: url("../upload/ban2.jpg");
}