.content {
    background-color: #F5F5F5;
}
.content header {
    width: 100%;
    height: auto;
    background: url("../images/center-top-bj.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
}
.header-wrapper {
    position: relative;
    padding: 1.5rem;
    margin: 0 auto;
    overflow: hidden;
}
.header-logo {
    float: left;
    margin-right: 1rem;
}
.header-logo a {
    height: 7rem;
    width: 7rem;

    display: block;
}
.header-logo a img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.header-info {
    float: left;
}
.header-info h4 {
    font-size: 18px;
    color: #fff;
    line-height: 1.4;
}
.header-info p.dengji {
    color: orange;
    font-size: 14px;
    margin: 2px 0;
}
.header-info p.tuihui {
  color: #fff;
    line-height: 2;
    font-size: 14px;
}

/*我的订单*/
.order {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: auto;
    margin-top: 1rem;
}
.order .order-list a div img {
    width: 3rem;
    height: 3rem;
}
.order .order-list ul li a {
    position: relative;
}
.order .order-list ul li a span {
    position: absolute;
    background-color: red;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    color: #fff;
    top: 0;
    right: -4rem;
}
/*我的小金库*/
.my-money {
    width: 100%;
    position: relative;
    height: auto;
    margin-top: 1rem;
    background-color: #fff;
}
.order-title {
    overflow: hidden;
    padding: 1rem 1.5rem;
}
.order-title .order-left a {
    color: #444;
}
.order-title .order-left {
    float: left;
}
.order-title .order-left span{
   font-size: 13px;
}
.order-title .order-left img {
   width: 2.2rem;
    height: 2.2rem;
}
.order-title .order-right {
    float: right;
}
.order-list {
    position: relative;
    padding-bottom: .6rem;
}
.order-list ul {
    overflow: hidden;
    text-align: center;
}
.order-list ul li {
    float: left;
    width: calc( 100% / 4);
}
.order-list ul li a {
    color: #666;
    font-size: 12px;
}
.order-list ul li a span{
    color: #000;

}

/*我的相关*/
.list-item {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #fff;
    margin-top: 1rem;
}
.list-item .item {
    overflow: hidden;
    border-bottom: 1px solid #a1a1a1;
   padding: 1rem 1.5rem;
}
.list-item .item .item-left {
    float: left;
}
.list-item .item .item-left a {
    display: inline-block;
    vertical-align: middle;
    line-height: 2.6rem;
}
.list-item .item .item-left a img {
    width: 2.2rem;
    height: 2.2rem;
}
.list-item .item .item-left a span {
  color: #333;
    font-size: 13px;
}
.list-item .item .item-right {
    float: right;

}
.list-item .item .item-right i {
    color: #333333;
}







/*footer begin*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    margin: 0 auto;
    z-index: 10;
    background: #f7f7fa;
}
footer ul {
    overflow: hidden;
    border-top: 1px solid #fff;
}
footer ul li {
    padding: 1rem 0 0 0;
    float: left;
    width: calc(100% / 4);
    text-align: center;
    margin: 0 auto;
}
footer ul li a {
    display: block;
    text-align: center;
    margin: 0 auto;
}
footer li a img{
    width: 2.2rem;
    height: 2.2rem;
    display: inline-block;
}
footer ul li a p {
    color: #333;
}
footer ul li:last-child a span {
    position: absolute;
    top: -.7rem;
    right: 5%;
    background: #ff5656;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    color: #fff;

}