* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}

li {
    list-style: none;
}
body {
    position: relative;
    overflow-x: hidden;
    background-color: #fff;
    margin: 0 auto;
    height: 100%;
}
header {
    position: relative;
    width: 100%;
    background-color: #e3e3e3;
}



section {
    background-color: #f5f5f5;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.product {
    position: relative;
}
.product-img {
   width: 100%;
}
.product-img img {
    width: 100%;
    height: auto;
}
.product-inner {
    padding: 1rem ;
}

.product-inner .product-title {
    font-size: 15px;
    color: #333;
    padding: .6rem 0;
}
.product-inner .price {
    font-size: 10px;
    color: #FF0000;
    padding: 0 0 .4rem 0;
}
.product-inner .price span {
    font-size: 19px;
    font-weight: bolder;

}
.product-inner .product-title-two {
    font-size: 13px;
    color: #666;
}
.product-inner .product-info {
    overflow: hidden;
    margin: 1rem 0;
    background: #fff;
    padding: .5rem 1rem;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
.product-info .info-l {
    float: left;
    margin-right: 1rem;
    vertical-align: middle;
    font-size: 14px;
    color: #888;
}
.product-inner .sell .info-l {
     line-height: 8rem;
 }
.product-inner .size .info-l {
    line-height: 3.6rem;
}
/*.product-inner .size .info-r {
   margin-left: 4rem;
    display: inline-block;
}*/
.product-inner .info-r a {
   border: 1px solid #d1d1d1;
    padding: .8rem 1rem;
    display: inline-block;
    text-decoration: none;
    color: #777;
    font-size: 13px;.
}

.product-inner .express {

}
.express-info {
    padding: .6rem 0;
    color: #555;
}
.express-info span {
    color: #999;
    margin-right: 1rem;
}


.product-info .info-r {
    float: left;
}
.product-info .info-r p {
   margin: .8rem 0;
}
.product-info .info-r p span {
    color: #FF0000;
    border: 1px solid #FF0000;
    padding: .2rem .3rem;
    border-radius: .4rem;
}

.info-r p a {
    background-color: #FF0000;
    color: #fff;
    border-radius: .3rem;
    padding: .4rem .5rem;
}


.detail {
    width: 100%;
    position: relative;
}
.detail-inner {
    padding: 0 1rem;
}
.detail-item {

}
.detail-item img {
    width: 100%;
    height: auto;
}


.comment {
    position: relative;
    width: 100%;
}
.comment-inner {

}
.comment-item {
   padding: 1rem;
}
.comment-title {
    overflow: hidden;
    height: 3rem;
    line-height: 3rem;
}
.comment-main::before {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background-color: #888;
}
.comment-title .title-l {
    float: left;
    vertical-align: middle;
}
.title-l .title-logo {
    display: inline-block;
    width: 2rem;
    /*height: 2rem;*/
    border-radius: 50%;
}
.title-l .title-logo img {
    width: 100%;
    height:auto;
}
.title-l .user-name {
   display: inline-block;
}
.comment-title .title-r {
    float: right;
}
.comment-main {

}
.comment-main p.star {
    padding: .8rem 0 ;
}
.comment-main p i {
    color: #FF0000;
}
.comment-main p.comment-word {
    color: #777;
}
.comment-picture {

}
.comment-picture ul {
    overflow: hidden;
}
.comment-picture ul li {
    float: left;
    width: 25%;
}
.comment-picture ul li img {
    width: 100%;
    height: auto;
}
/*菜单选项*/
