* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}

li {
    list-style: none;
}
body {
    position: relative;
    overflow-x: hidden;
    background-color: #fff;
    margin: 0 auto;
    height: 100%;
}
header {
    position: relative;
    width: 100%;
    background-color: #e3e3e3;
}
.header-search {

    padding: 0 .6rem;
}
.search-inner {
    text-align: center;
    padding: .6rem 0;
    font-size: 14px;
}
.search-inner i {
    position: absolute;
    left: 28%;
    top: 40%;
    color: #666;
}
.search-inner input {
    width: 100%;
    border-radius: .4rem;
    background-color: #fff;
    border: none;
    text-align: center;
    padding: .6rem 0;

}
nav {
    position: relative;
    width: 100%;
    height: auto;
}
nav ul {
    overflow: hidden;
}
nav ul li {
    float: left;
    text-align: center;
    width: calc(100% / 3);
}
nav ul li a {
    padding: 1rem 0;
    width: 100%;
    font-size: 16px;
    color: red;
    display: inline-block;
    text-decoration: none;
}





section {
    background-color: #f5f5f5;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

/*菜单选项*/
nav {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.nav-wrapper {
    background-color: #fff;
    padding: 1rem;
}
.nav-wrapper p {
    text-align: center;
}

.nav-wrapper a {
    display:table-cell;
    width: 25%;
    color: #444;
    height: 3rem;
    margin: 1rem 3rem;
}
.nav-img {
    margin: 0 1.6rem;
}
.nav-wrapper a img {
    width: 100%;
    height: auto;
}

