/*第三部分*/
* {
    margin:0;
    padding:0;
}

.con-main {
    width:1170px;
    margin: 0 auto;
}
.part-one {

}
.part-one ul {
    overflow: hidden;
    padding: 8px 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    list-style: none;
    border-radius: 4px;
    background: #f5f5f8;
}
.part-one ul li.active::before {
    content: "/\00a0";
    padding: 0 5px;
    color: #ccc;
}
.part-one ul li {
    float: left;
}
.part-one ul li a {
    color: #000;
}
.part-one ul li:first-child {
    font-weight: 600;
}

/*衣服详情列表*/
.part-two {
    overflow: hidden;
    margin-bottom: 50px;
}
/*左测*/
.part-two .part-two-left {
    width:50%;
    float: left;
}
.part-two-left .left-img-big {

}
.part-two-left .left-img-big img{
    width:100%;
}
.part-two-left .left-img-items {
    overflow: hidden;
}
.part-two-left .left-img-items ul {

}
.part-two-left .left-img-items ul  li {
    float: left;
    width:calc((100% / 4) - 4px);
    padding:0 2px;
}
.part-two-left .left-img-items ul li a {

}
.part-two-left .left-img-items ul li a img {

}
/*右侧*/
.part-two .part-two-right {
    float: left;
    padding-left: 20px;
    width:calc(50% - 20px);
}
.part-two-right .two-right-top {
border-bottom: 1px solid #c0c0c0;

}
.part-two-right .two-right-top .mark {
 margin: 10px 0;
}
.part-two-right .two-right-top .new-price {
    color: #ec005f;
    font-size: 26px;
    line-height:30px;
    height:30px;
}
.part-two-right .two-right-top .old-price {
    color: #666;
    font-size: 14px;
}
.part-two-right .two-right-center {
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #c0c0c0;
}
.part-two-right .two-right-center p {
    line-height:30px;

}
.part-two-right .two-right-bottom {

}
.two-right-bottom .choose {

}
.two-right-bottom .choose h3 {
    float: left;
    width:50%;
    color: #666666;
    font-weight: 600;
}
.choose-detail {

}
.choose-detail select {
    float: left;
    width:calc(40%  );
    height:30px;
    line-height:30px;
    margin-right: 55px;

}
.choose-number {
    display: inline-block;
    overflow: hidden;
    margin: 10px 0;
}
.choose-number input {
text-align: center;
    line-height:30px;
  border: 1px solid #666666;
}
.add-to-cart {
 background: #666666;
    border: none;
    width:8em;
}
.choose-number i {
    border: 1px solid #666666;
    padding:9px;

}
.model {

}
.model h5 {
    line-height:30px;
}
.share {

}
.share i {
    margin: 6px ;
    padding: 10px;
    border-radius: 50%;
    background: seagreen;
}
.part-three {

}.part-three ul {

 }
 .part-three ul li {
     float: left;
     padding: 0 6px;
 }
.part-three .descirption {
    float: left;
}
.part-three a {
    padding: 10px;
    background: #ec005f;
    text-align: center;
    line-height:50px;
    color: #fff;
}
.part-three a:hover {
    
}
.part-three .descirption p {
    display: block;
    border: 1px solid #666666;
   text-indent: 2em;
    padding: 6px;
}
.reviews p {
    display: none;
    border: 1px solid #666666;
    text-indent: 2em;
    padding: 6px;
}