body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
.fr {
    float: right;
}
.fl {
    float: left;
}
/*header begin*/
header {

}
.header-top {
    background: #000000;


}
.header-top-con {
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
}
.top-left {
    float: left;

}
.top-left span  {
    color: #fff;
    height:36px;
    line-height:36px;
}
.top-right {
    float: right;
    overflow: hidden;
    line-height:36px;
}
.top-right ul {
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.top-right ul li {
    float: left;
    padding: 0 10px;
}
.top-right ul li ul  {
    display: none;
}
.top-right ul li ul li {

}
.top-right ul li:hover ul {
    display: block;
    position: absolute;
    background: #cccccc;
}
.top-right ul li a {
    color: #fff;
}
.top-right ul li a:hover {
    color:#ec005f;
}
.top-right ul li ul li {
    float: none;
}
.header-center {
    padding: 20px 0;
}
.center-l {
    float: left;
    margin:  0 100px 0 0;
}
.center-c {
    float: left;
    height: 51px;
    line-height: 51px;
}
.center-c .header-search {

}
.header-search .need {
    border: 1px solid #cacaca;
    height: 38px;
    padding: 0 40px 0 20px;
    border-right: none;
    width: 300px;
}
.header-search select {
    border: 1px solid #cacaca;
    height: 40px;
    padding: 0 40px 0 20px;
}
.header-search input,select, .sub-btn {

}
.sub-btn {
    background-color: #ec005f;
    color: #fff;
    border: medium none;
    height: 40px;
    width: 40px;
}
div[class*="user"] {
    border: 1px solid #c0c0c0;
    margin-right: 5px;
    font-size: 15px;
    padding: 8px 10px;
}
.center-r {
    float: right;
    overflow: hidden;
    padding-top: 4px;
}
.center-r .bg:hover{
    background: #ec005f;
}
.shoping-items {
    padding-left: 10px;
}
.shoping-items a {
    color: #000;
}
.clearfix{
    content: " ";
    display: table;
    clear: both;
}
.cart-img {
    width: 50px;
    overflow: hidden;
    height:66px;
}
.user-cart:hover ul {
    transform: scaleY(1);
    border-top: 0px;
}
.cart-img  img {
    width:100%;
}
.center-r ul li {
    overflow: hidden;
    padding:10px;
}
.total {
    float: left;
}
.button-stn{
    background: #ec005f none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    height: 43px;
    line-height: 41px;
    padding: 0 30px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.del-icon {
    line-height:66px;
}
.center-r ul{
    overflow: hidden;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ededed;
    padding: 10px 8px 12px;
    width: 100%;
    z-index: 99;
    display: none;
}
nav {
    background: #c0c0c0;
    overflow: hidden;
}

nav ul {
    overflow: hidden;
    padding:0;
    margin: 0;
}

nav ul li {
    float: left;
    height:44px;
    line-height:44px;
    padding: 0 40px;
}
.nav-con{
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
}
nav ul li a {
    color: #000;
}
nav ul li:hover {
    background: #ec0054;
}